.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format @doc.content
    %hr
  #doc_show
    %h1.title Version History
    %table
      %tr
        %th ID
        %th Action
        %th Timestamp
        %th User

      - @doc.versions.each do |version|
        %tr
          %td= version.id
          %td= version.event
          %td= version.created_at
          %td= User.find(version.whodunnit).email
      
    
    .buttons
      = link_to "Fix Doc", edit_doc_path(@doc), class: 'button'
      = link_to "Trash Doc", doc_path(@doc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
      