.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format "<em>Authored by #{@doc.user.email} at #{@doc.created_at.strftime "%d %b %Y - %I:%M %p %:z"}</em>"
    %p= simple_format @doc.content
    - if !@doc.file.blank?
      %p= link_to "View File", @doc.file.url
    %hr
    %p= "Hit Count: #{@doc.hits}"
  
      
    
    .buttons
      - if current_user == @doc.user
        = link_to "Fix Doc", edit_doc_path(@doc), class: 'button'
        = link_to "Trash Doc", doc_path(@doc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
    - if current_user == @doc.user

      %h1.title Version History
      %table
        %tr
          %th ID
          %th Action
          %th Timestamp

        - @doc.versions.each do |version|
          %tr
            %td= version.id
            %td= version.event
            %td= version.created_at.strftime "%d %b %Y - %I:%M %p %:z"
          